# GLOBAL
APP_ENV=development

#### Tracking ####
ENABLE_TRACKING=false
# HOTJAR
HOTJAR_WEBSITE_UID=
HOTJAR_VERSION=
# GOOGLE
GOOGLE_TAG_MANAGER_UID=
# MICROSOFT CLARITY
MICROSOFT_CLARITY_UID=
# DEBUGBEAR
DEBUGBEAR_RUM_UID=
