.prt_about_experience_wrapper {
  display: inline-block;
  width: 100%;
}
.prt_about_experience {
  display: inline-block;
  width: 100%;
}
.prt_about_experiencebox {
  display: table;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  padding: 50px 10px 50px 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_about_experiencebox:after {
  content: "";
  position: absolute;
  background-color: #111111;
  top: 0;
  right: 0;
  bottom: 0;
  width: 69%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_about_experiencebox:hover:after {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_about_experiencebox:hover .prt_about_experience_year h1 {
  color: #2a7ae3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_about_experience_year {
  display: table-cell;
  width: 230px;
  vertical-align: middle;
}
.prt_about_experience_year h1 {
  font-size: 100px;
  margin: 0px;
  color: #202020;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_about_experience_year h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0px;
  text-align: right;
  color: #b7b7b7;
}
.prt_about_experience_info {
  display: table-cell;
  width: calc(100% - 230px);
  padding-left: 30px;
}
.prt_about_experience_info h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 0px;
}
.prt_about_experience_info span {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.prt_about_experience_info p {
  margin: 0px;
}
