.prt_contact_wrapper {
  background-color: #010101;
  position: absolute;
  animation-duration: 1s;
  animation-name: slideLeft;
  width: 100%;
  top: 0;
  z-index: 1;
  display: block;
}
.prt_contact_box {
}
.prt_contact_info {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}
.prt_contact_info h1 {
  font-size: 30px;
  display: inline-block;
  margin: 0px 0px 35px 0px;
  text-transform: uppercase;
}
.prt_contact_form {
  display: inline-block;
  width: 100%;
}
.prt_contact_form input,
.prt_contact_form textarea {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  border: 0px;
  background-color: #111111;
  padding: 0px 15px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_form input:hover,
.prt_contact_form input:focus,
.prt_contact_form textarea:hover,
.prt_contact_form textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_form textarea {
  height: auto;
  resize: vertical;
}
.prt_contact_form .prt_btn {
  margin-top: 0px;
}
.prt_contact_map {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.prt_contact_map iframe {
  display: inline-block;
  width: 100%;
  height: 513px;
  border: 0px;
}
.prt_contact_details {
  display: inline-block;
  width: 100%;
}
.prt_contact_details_box {
  padding: 80px 0px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_details_box:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.prt_contact_details_box:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_details_box:hover:after {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_details_box h4 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.prt_contact_details_box p {
  margin: 0px;
}
.prt_contact_details_box p a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_details_box p a:hover {
  color: #2a7ae3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_contact_details_box.details_box1 {
  background-image: url(http://placehold.it/450X250);
}
.prt_contact_details_box.details_box2 {
  background-image: url(http://placehold.it/450X250);
}
.prt_contact_details_box.details_box3 {
  background-image: url(http://placehold.it/450X250);
}

@keyframes slideLeft {
  from {
    left: 100%;
  }

  to {
    left: 0px;
  }
}
