.prt_main_wrapper {
  position: relative;
  overflow-x: hidden;
}
.prt_main_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666666;
}
.prt_main_wrapper::-webkit-scrollbar {
  width: 0.1px;
  background-color: #f5f5f5;
}
.prt_main_wrapper::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.prt_home_wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
  padding: 200px 0px;
}
.prt_home_wrapper h1 {
  position: absolute;
  top: 50%;
  font-size: 150px;
  color: #ffffff;
  font-weight: bold;
  background: url(http://placehold.it/650X800) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  margin-left: 20rem;
  background-position: -0px -85px;
}
.prt_logo_wrapper img {
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 2;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotatey(360deg);
  }
}
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotatey(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}
.prt_close_wrapper img {
  position: fixed;
  right: 50px;
  top: 50px;
  cursor: pointer;
  z-index: 2;
}
.prt_menu_wrapper {
  text-align: center;
}
.prt_menu_wrapper a {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin: 0px auto;
  z-index: 1;
  font-weight: 500;
  letter-spacing: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_menu_wrapper a:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -moz-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -ms-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -o-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  -moz-mask-size: 200%;
  -ms-mask-size: 200%;
  -o-mask-size: 200%;
  -webkit-animation: shine 1.3s infinite;
  -moz-animation: shine 1.3s infinite;
  -o-animation: shine 1.3s infinite;
  -ms-animation: shine 1.3s infinite;
  animation: shine 1.3s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.prt_menu_wrapper a.prt_top {
  top: 45px;
  left: 0px;
  right: 0px;
  width: 100px;
}
.prt_menu_wrapper a.prt_bottom {
  bottom: 45px;
  left: 0px;
  right: 0px;
  width: 150px;
}
.prt_menu_wrapper a.prt_left {
  top: 50%;
  left: -15px;
  transform: rotateZ(-90deg);
  margin-top: -15px;
}
.prt_menu_wrapper a.prt_right {
  top: 50%;
  right: 0px;
  transform: rotateZ(90deg);
  margin-top: -15px;
}
