/*--------- Body -------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #b7b7b7;
  background-color: #010101;
  -webkit-font-smoothing: antialiased;
}
/*---------- Typography Start -------*/
a {
  color: #b7b7b7;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #2a7ae3;
  text-decoration: none;
}
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #fffefe;
}
img {
  max-width: 100%;
}
input,
textarea,
select,
button {
  outline: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.prt_toppadder10 {
  padding-top: 10px;
}
.prt_toppadder20 {
  padding-top: 20px;
}
.prt_toppadder30 {
  padding-top: 30px;
}
.prt_toppadder40 {
  padding-top: 40px;
}
.prt_toppadder50 {
  padding-top: 50px;
}
.prt_toppadder60 {
  padding-top: 60px;
}
.prt_toppadder70 {
  padding-top: 70px;
}
.prt_toppadder80 {
  padding-top: 80px;
}
.prt_toppadder90 {
  padding-top: 90px;
}
.prt_toppadder100 {
  padding-top: 100px;
}
.prt_toppadder115 {
  padding-top: 115px;
}
.prt_bottompadder10 {
  padding-bottom: 10px;
}
.prt_bottompadder20 {
  padding-bottom: 20px;
}
.prt_bottompadder30 {
  padding-bottom: 30px;
}
.prt_bottompadder40 {
  padding-bottom: 40px;
}
.prt_bottompadder50 {
  padding-bottom: 50px;
}
.prt_bottompadder60 {
  padding-bottom: 60px;
}
.prt_bottompadder70 {
  padding-bottom: 70px;
}
.prt_bottompadder80 {
  padding-bottom: 80px;
}
.prt_bottompadder90 {
  padding-bottom: 90px;
}
.prt_bottompadder100 {
  padding-bottom: 100px;
}
.prt_bottompadder115 {
  padding-bottom: 115px;
}
.prt_padderboth120 {
  padding: 120px 0px;
}
/*---------- Heading Start -------*/
.prt_heading_wrapper {
  text-align: center;
}
.prt_heading {
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_heading h1 {
  font-size: 40px;
  margin: 0px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  font-weight: 500;
  padding-bottom: 15px;
}
.prt_heading h1:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
}
.prt_heading p {
  text-align: right;
  width: auto;
  text-transform: uppercase;
  background-color: #010101;
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  right: 0;
  bottom: -10px;
  color: #2a7ae3;
  font-weight: 500;
}
.prt_heading_wrapper_2 {
  text-align: left;
}
.prt_heading_wrapper_2 .prt_heading {
  margin-bottom: 30px;
}
/*---------- Button End -------*/
.prt_btn {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 0px;
  padding: 0 20px;
  min-width: 140px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  background-color: #2a7ae3;
  border: 1px solid #2a7ae3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_btn:hover,
.prt_btn:focus {
  color: #2a7ae3;
  background-color: #111111;
  border: 1px solid #2a7ae3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .prt_counter_box {
    padding-left: 50px;
  }
  .prt_home_wrapper h1 {
    font-size: 120px !important;
    margin: 80px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .prt_profile_slider {
    padding-top: 0px;
    margin-bottom: 50px;
  }
  .prt_counter_box {
    padding-left: 0px;
  }
  .prt_about_learnbox_right:after {
    top: 0%;
    left: 0%;
    margin-top: 0;
  }
  .prt_about_learnbox_left:after {
    top: 0%;
    right: 0%;
    margin-top: 0;
  }
  .prt_about_learnsection:after {
    display: none;
  }
  .prt_about_learnbox_left,
  .prt_about_learnbox_right {
    border-bottom: 1px solid #202020;
    padding-bottom: 30px;
  }
  .prt_services_slider_wrapper {
    height: 1020px;
    position: relative;
  }
  .prt_services_slider_imgs {
    margin-left: 150px;
  }
  .prt_services_slider_box {
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: 0px auto;
  }
  .prt_home_wrapper h1 {
    font-size: 90px !important;
    margin: 80px !important;
  }
}
@media (max-width: 767px) {
  .prt_home_wrapper h1 {
    font-size: 90px !important;
    margin: 0px !important;
    text-align: center;
  }
  .prt_profile_slider {
    padding-top: 0px;
    margin-bottom: 50px;
  }
  .prt_about_learnbox_right:after {
    top: 0%;
    left: 0%;
    margin-top: 0;
  }
  .prt_about_learnbox_left:after {
    top: 0%;
    right: 0%;
    margin-top: 0;
  }
  .prt_about_learnsection:after {
    display: none;
  }
  .prt_about_learnbox_left,
  .prt_about_learnbox_right {
    border-bottom: 1px solid #202020;
    padding-bottom: 30px;
  }
  .prt_footer_wrapper p {
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .prt_footer_wrapper ul {
    width: 100%;
    text-align: center;
  }
  .prt_services_slider_wrapper {
    height: 1020px;
    position: relative;
  }
  .prt_services_slider_imgs {
    margin-left: 150px;
  }
  .prt_services_slider_box {
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: 0px auto;
  }
}
@media (min-width: 620px) and (max-width: 700px) {
  .prt_services_slider_imgs {
    margin-left: 120px;
  }
}
@media (min-width: 540px) and (max-width: 619px) {
  .prt_services_slider_imgs {
    margin-left: 50px;
  }
}
@media (max-width: 539px) {
  .prt_services_slider_imgs {
    margin-left: 0px;
  }
  .prt_home_wrapper h1 {
    font-size: 60px !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (max-width: 479px) {
  .prt_services_slider_imgs {
    margin-left: 0px;
  }
  .prt_heading h1 {
    font-size: 34px;
  }
  .prt_home_wrapper h1 {
    font-size: 50px !important;
  }
  .prt_counter_box {
    padding-left: 0px;
  }
  .prt_about_learnbox_year {
    display: table-caption;
    width: 100%;
    vertical-align: middle;
    padding-top: 0px;
  }
  .prt_about_learnbox_info {
    width: 100%;
  }
  .prt_about_experience_year {
    display: inline-block;
    width: 100%;
  }
  .prt_about_experience_year h4 {
    margin-bottom: 50px;
    text-align: left;
  }
  .prt_about_experience_info {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
  }
  .prt_footer_wrapper ul li {
    margin: 0px 2px;
  }
  .prt_about_learnbox_right:after {
    display: none;
  }
  .prt_about_learnbox_left:after {
    display: none;
  }
}
@media (max-width: 370px) {
  .prt_home_wrapper h1 {
    font-size: 40px !important;
  }
}
@media (min-width: 371px) and (max-width: 390px) {
  .prt_services_slider_box {
    top: 350px;
  }
  .prt_services_slider_wrapper {
    height: 900px;
  }
  .prt_home_wrapper h1 {
    font-size: 45px !important;
  }
}

.prt_main_wrapper {
  position: relative;
  overflow-x: hidden;
}
.prt_main_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666666;
}
.prt_main_wrapper::-webkit-scrollbar {
  width: 0.1px;
  background-color: #f5f5f5;
}
.prt_main_wrapper::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.prt_home_wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
  padding: 200px 0px;
}
.prt_home_wrapper h1 {
  position: absolute;
  top: 50%;
  font-size: 150px;
  color: #ffffff;
  font-weight: bold;
  background: url(http://placehold.it/650X800) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  margin-left: 20rem;
  background-position: -0px -85px;
}
.prt_logo_wrapper img {
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 2;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotatey(360deg);
  }
}
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotatey(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}
.prt_close_wrapper img {
  position: fixed;
  right: 50px;
  top: 50px;
  cursor: pointer;
  z-index: 2;
}
.prt_menu_wrapper {
  text-align: center;
}
.prt_menu_wrapper a {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin: 0px auto;
  z-index: 1;
  font-weight: 500;
  letter-spacing: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.prt_menu_wrapper a:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -moz-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -ms-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -o-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  -moz-mask-size: 200%;
  -ms-mask-size: 200%;
  -o-mask-size: 200%;
  -webkit-animation: shine 1.3s infinite;
  -moz-animation: shine 1.3s infinite;
  -o-animation: shine 1.3s infinite;
  -ms-animation: shine 1.3s infinite;
  animation: shine 1.3s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.prt_menu_wrapper a.prt_top {
  top: 45px;
  left: 0px;
  right: 0px;
  width: 100px;
}
.prt_menu_wrapper a.prt_bottom {
  bottom: 45px;
  left: 0px;
  right: 0px;
  width: 150px;
}
.prt_menu_wrapper a.prt_left {
  top: 50%;
  left: -15px;
  transform: rotateZ(-90deg);
  margin-top: -15px;
}
.prt_menu_wrapper a.prt_right {
  top: 50%;
  right: 0px;
  transform: rotateZ(90deg);
  margin-top: -15px;
}
